body {
  text-align: center;
  background: linear-gradient(-45deg, #EEEEEE 25%, #00adb5 25% 50%, #393e46 50% 75%, #222831 75%);
  color: grey;
}
.navbar {
  margin: auto;
}
.navbar-brand img{
  width: 70px;
  height: auto;
}
.aboutText {
  text-align: right;
}
.mainHeading {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 90px;
}
.haLImage {
  width: 550px;
  height: auto;
  margin: auto;
}
.mainSection {
  margin: 20px;
  color: grey;
}
.carouselSection {
  align-items: center;
  background: #000000;
  background: rgba(0,0,0,0.2);
  margin: 80px;
  text-align: center;
}
.carouselImage {
  height: 450px;
  width: auto;
}
.image{
  width: 600px;
  height: auto;
}
.btn {
  margin-bottom: 50px;
}
.pricing-column {
  padding: 3% 3%;
  color: black;
}

.footer {
  padding: 20px;
  color: white;
  font-size: 1rem;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.contentsButtons {
  width: 300px;
  height: 80px;
  display: block;
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
}
.social-icon{
  margin: 10px;
}
